<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.Balls"
        android:supportsRtl="true">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Balls">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Balls" />

        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Balls" />

        <activity
            android:name=".RaceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Balls" />

        <activity
            android:name=".RaceSetupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Balls" />

        <activity
            android:name=".HighScoresActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Balls" />

        <activity
            android:name=".AchievementsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Balls" />

        <activity
            android:name=".RecordsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Balls" />

        <activity
            android:name=".OptionsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Balls" />

        <activity
            android:name=".TutorialActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Balls" />

        <activity
            android:name=".CustomizeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Balls" />

    </application>

</manifest>
